* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    /* height: 60px; */
    height: 4rem;
    background-color: black;
}

main {
    padding-top: 5rem;
    /* padding-top: 60px; */
    
}

body {
    background: url("/img/edificio.jpg") #222e44;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


/* Efecto de la pantalla al aparecer de las pantallas de formularios*/
.card {
    animation: ease-in-out aparecer 0.4s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    85% {
        opacity: 50;
        transform: scale(1.03);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Efecto de pantalla de espera new-issue-detail cuando se está grabando el ticket */
.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-radius: 8px;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.popup .btn-cerrar-popup {
    color: #bbbbbb;
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    transition: 0.3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /* opacity: 0 */
}

.popup h5 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
    /* opacity: 0 */
}

/*Ubicación de las pantallas inicial, de consulta y de carga*/
.principal {
    margin-top: 5%;
}

/* Fondo para los selectores y título del tipo de issue seleccionado*/
.titulo {
    /* background-color: #e7e5e5; */
   background-color: rgb(231,229,229, 0.6); 
       
}

.opacity {
   /* background: rgba(41, 128, 185, 0.7); */
   background: rgba(34, 98, 141, 0.5);
}





/* Pagina principal de la intra */
/* .card-intra {
    transition: all 400ms ease;
    border-radius: 8px;
    background: rgba(41, 128, 185, 0.5);
    color: white;
}
.card-intra:hover {
    transition: all 400ms ease;
    transform: translateY(-8%);
    background: rgba(41, 128, 185, 0.8);
} */

/* .btn-intra {
    border-radius: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
} */

/* .busqueda {
    color: white;
    font-size: 18px;
    background: rgba(41, 128, 185, 0.3);
} */





/* -----------------------Sidebar -------------------- */
.sidebar {
    margin-top: 5em;
    font-size: 18px;
    padding-left:25px;
    padding-top: 35px;
    height: 450px;
    /* position: fixed; */
    border-radius: 8px;
    /* overflow: auto; */
    
}

.sidebar h4 {
    color: white;
}


.sidebar a:link {
   text-decoration: none;
   color: rgb(217, 229, 248); 
   transition: all 500ms ease;
}

.sidebar a:visited {
    text-decoration: none;
    color: rgb(217, 229, 248);
    transition: all 500ms ease;
}

.sidebar a:hover {
    text-decoration: none;
    color: rgb(247, 135, 101);
    padding-left: 2px;
    transition: all 500ms ease;
}

/* Efecto tablas aplicaciones intra principal y tabla de mesas de ayuda */
.scroll-tabla {    
    max-height: 450px;
    overflow-y: auto; 
}

@media screen and (min-height: 768px){
    .scroll-tabla {
        max-height: 580px;
    }
    /* .sidebar {
        max-height: 600px;
    } */
}

@media screen and (min-height: 1000px){
    .scroll-tabla {
        max-height: 780px;
    }
    /* .sidebar {
        max-height: 600px;
    } */
}



.tbody > tr{
   text-decoration: none;
   transition: all 400ms ease;
}

.tbody > tr:hover{
    text-decoration: none;
    color: rgb(247, 135, 101);
    background: rgba(34, 98, 141, 0.7);
    transition: all 400ms ease;
}

.mesas {
    font-size: 18px;
    color: rgb(217, 229, 248);
    background: none;
    border-radius: 8px;
    
}

.bordes{
    border-radius: 8px;
}

/* Barra de búsqueda de la intra */
#formulario {
    color: white;
    background: rgba(41, 128, 185, 0.3);
    font-size: 18px;
}


/* Comentario en la pantalla de new-issue-details de Cableado */
.comentario{
    font-size: 11px;
}

/* Alinea todos los formularios en la pantalla */
.form-group{
    margin-bottom: 3vh;
}